@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

footer a {
  color: #fbf8f3;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

footer a:hover {
  color: #d1ccc4;
}

footer {
  background-color: #97a4a2;
  font-family: "Montserrat", sans-serif;
  color: #fbf8f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 40px 20px;
  box-sizing: border-box;
}

.informacoes {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1200px;
  gap: 20px;
}

.feito-por {
  color: #4b626c;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  padding-top: 10px;
}

.game-Dame {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.logo-footer img {
  width: 120px;
}

.game-Dame h2,
.explorar h2,
.contato h2 {
  font-weight: 500;
  font-size: 1.75rem;
  margin-bottom: 15px;
}

.game-Dame p {
  font-weight: 200;
  font-size: 1.25rem;
}

.botao-footer {
  display: flex;
  justify-content: center;
}

.botao-f {
  background: none;
  border: none;
  color: #fbf8f3;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  transition: color 0.2s;
}

.botao-f:hover {
  color: #d1ccc4;
}

.contato p,
.contato a {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 15px;
  text-decoration: none;
  color: #fbf8f3;
}

@media (max-width: 768px) {
  .informacoes {
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center; 
  }

  .feito-por{
    margin-top: 10px;
  }
  .explorar {
    display: none;
  }

  .contato h2{
    display: none;
  }

  .game-dame,
  .contato {
    text-align: center; 
    flex-basis: 250px; 
    flex-grow: 1; 
  }

  .logo-footer img {
    width: 100px; 
  }

  .game-dame h2,
  .contato h2 {
    font-size: 1.5rem; 
  }

  .game-dame p {
    font-size: 1.1rem; 
  }

  .contato p {
    justify-content: center; 
  }
}
